public/AI_Research_RAG_and_Data_Analysis.json
{"name": "AI Research RAG and Data Analysis", "nodes": [{"parameters": {}, "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [0, 0], "id": "1a2b3c4d-e5f6-7890-abcd-ef1234567890", "name": "Start Research"}, {"parameters": {"resource": "document", "operation": "getAll", "returnAll": true}, "type": "n8n-nodes-base.pinecone", "typeVersion": 1, "position": [220, 0], "id": "2b3c4d5e-f6a7-8901-bcde-f234567890ab", "name": "Pinecone Query"}, {"parameters": {"resource": "chat", "operation": "create", "modelId": {"__rl": true, "value": "gpt-4", "mode": "list", "cachedResultName": "GPT-4"}, "text": "Analyze the following research documents and provide comprehensive insights:\n\n{{ JSON.stringify($json) }}\n\nPlease provide:\n1. Key findings\n2. Data patterns\n3. Recommendations\n4. Confidence scores", "options": {}}, "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1.8, "position": [440, 0], "id": "3c4d5e6f-a789-0123-cdef-34567890abcd", "name": "OpenAI Analysis"}, {"parameters": {"method": "POST", "url": "https://api.research-analytics.com/v2/analyze", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer {{ $credentials.researchApi.apiKey }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "bodyParameters": {"parameters": [{"name": "data", "value": "={{ $json.content }}"}, {"name": "analysis_type", "value": "comprehensive"}]}, "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [660, 0], "id": "4d5e6f7a-b890-1234-defa-4567890abcde", "name": "Research Analytics API"}, {"parameters": {"method": "POST", "url": "https://hooks.slack.com/services/{{ $credentials.slack.webhookUrl }}", "sendBody": true, "bodyParameters": {"parameters": [{"name": "text", "value": "📊 AI Research Analysis Complete\n\n🔍 Key Findings:\n{{ $(\"OpenAI Analysis\").item.json.content.slice(0, 500) }}...\n\n📈 Analytics Score: {{ $(\"Research Analytics API\").item.json.score || \"N/A\" }}\n\n🔗 View detailed results in the dashboard."}]}, "options": {}}, "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [880, 0], "id": "5e6f7a8b-c901-2345-efab-567890abcdef", "name": "Slack Notification"}], "pinData": {}, "connections": {"Start Research": {"main": [[{"node": "Pinecone Query", "type": "main", "index": 0}]]}, "Pinecone Query": {"main": [[{"node": "OpenAI Analysis", "type": "main", "index": 0}]]}, "OpenAI Analysis": {"main": [[{"node": "Research Analytics API", "type": "main", "index": 0}]]}, "Research Analytics API": {"main": [[{"node": "Slack Notification", "type": "main", "index": 0}]]}}, "active": false, "settings": {"executionOrder": "v1"}, "versionId": "12345678-90ab-cdef-1234-567890abcdef", "meta": {"templateCredsSetupCompleted": true, "instanceId": "abcdef12-3456-7890-abcd-ef1234567890"}, "id": "RAG-RESEARCH-001", "tags": ["AI", "RAG", "Research", "Analytics"]}
